
<div class="pannelloModifica">
  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20pt; color: black">Lista Utenti:</p>
  <div style="text-align: left;">
    <button class="refresh" (click)="refreshUtenti()">Refresh utenti</button>
  </div>
  <table class="tabellaTreni">
      <tr>
          <td>Nome</td>
          <td>Cognome</td>
          <td>Email</td>
          <td>Aggiorna</td>
          <td>Elimina</td>
      </tr>
      <tr *ngFor="let utente of listaUtenti; let i=index" appSeleziona>
          <td><input [(ngModel)]='utente.nome'></td>
          <td><input [(ngModel)]='utente.cognome'></td>
          <td><input [(ngModel)]='utente.email'></td>
          <td><button class="aggiorna" (click)="aggiornaUtente(utente)">Vai</button></td>
          <td><button class="elimina" (click)="eliminaUtente(utente)">Vai</button></td>
      </tr>
  </table>
</div>

<div class="pannelloGestione">
  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20pt; color: black">AGGIUNGI UN UTENTE:</p>
  Nome:
  <input type="text" [(ngModel)]="nome" placeholder="nome">
  Cognome:
  <input type="text" [(ngModel)]="cognome" placeholder="cognome">
  Email:
  <input type="text" [(ngModel)]="email" placeholder="email">
  <span></span>
  <span></span>
  <button (click)="creaUtente()">CREA UTENTE</button>
</div>
