
<div class="pannelloModifica">
  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20pt; color: black">Lista Treni:</p>
  <div style="text-align: left;">
    <button class="refresh" (click)="refreshTreni()">Refresh treni</button>
  </div>
  <table class="tabellaTreni">
      <tr>
          <td>Origine</td>
          <td>Destinazione</td>
          <td>Corsa #</td>
          <td>Partenza</td>
          <td>Arrivo</td>
          <td>Diretto</td>
          <td>Posti Disponibili #</td>
          <td>Aggiorna</td>
          <td>Elimina</td>
      </tr>
      <tr *ngFor="let treno of listaTreni; let i=index" appSeleziona>
          <td><input [(ngModel)]='treno.origine'></td>
          <td><input [(ngModel)]='treno.destinazione'></td>
          <!--td><input [(ngModel)]='treno.corsa'></td-->
          <td>{{treno.corsa}}</td>
          <td>{{treno.partenza | date : 'shortDate'}}</td>
          <td>{{treno.arrivo | date : 'shortDate'}}</td>
          <td>{{treno.diretto}}</td>
          <td><input [(ngModel)]='treno.postidisponibili'></td>
          <td><button class="aggiorna" (click)="aggiornaTreno(treno)">Vai</button></td>
          <td><button class="elimina" (click)="eliminaTreno(treno)">Vai</button></td>
      </tr>
  </table>
</div>

<div class="pannelloGestione">
  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20pt; color: black">AGGIUNGI UN TRENO:</p>
  Origine:
  <input type="text" [(ngModel)]="origine" placeholder="origine">
  Destinazione:
  <input type="text" [(ngModel)]="destinazione" placeholder="destinazione">
  Corsa #:
  <input type="number" [(ngModel)]="corsa" placeholder="corsa">
  <span>Partenza:</span>
  <input type="date" [(ngModel)]="partenza">
  <span>Arrivo:</span>
  <input type="date" [(ngModel)]="arrivo">
  <span></span>
  <div class="boxDiretto">
    Diretto:
    <div><input type="checkbox" (click)="toggleDiretto()"></div>
  </div>
  <span></span>
  Posti Disponibili:
  <input type="number" [(ngModel)]="postidisponibili" placeholder="postidisponibili">
  <span></span>
  <span></span>
  <button (click)="creaTreno()">CREA TRENO</button>
</div>
