<div class="contenitore_esterno">

  <div class="contenitore_grande">

  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 17pt; color: black">
    Seleziona utente:
    <select [(ngModel)]="emailUtenteSelezionato">
      <option value="" disabled selected>email</option>
      <option *ngFor ="let risultato of listaEmailUtenti;" value={{risultato}} >{{risultato}}</option>
    </select>
    <button (click)="cercaUtentePerEmail(emailUtenteSelezionato)" [disabled]="!selezioneOn">Seleziona</button>
  </div>
  <br>
  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 17pt; color: black" [hidden]="!visibileLogin">
    Fai click di seguito per effettuare il login:
    <button (click)="login(emailUtenteSelezionato)" [disabled]="!abilitaLogin">Login</button>
    <button (click)="logout()" [disabled]="!loggato">Logout</button>
  </div>
  <br>
  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 17pt; color: black" [hidden]="!riloggato">
    {{statoLogin}}
  </div>

    <div class="top_bar">
      <span>Cerca Treni</span>
    </div>
    <div class="bg_trasparente">
      <div class="contenitore">
        <div class="pannello_ricerca">
          <div class="box_ricerca">
            <select [(ngModel)]="origineSelezionata">
              <option value="" disabled selected>da</option>
              <option *ngFor ="let risultato of listaOrigini;" value={{risultato}} >{{risultato}}</option>
              <!--option value="roma" >Roma</option>
              <option value="cosenza" >Cosenza</option>
              <option value="milano" >Milano</option>
              <option value="firenze" >Firenze</option-->
            </select>
          </div>
          <div class="box_ricerca">
            <select [(ngModel)]="destinazioneSelezionata">
              <option value="" disabled selected>a</option>
              <option *ngFor ="let risultato of listaDestinazioni;" value={{risultato}} >{{risultato}}</option>
              <!--option value="roma" >Roma</option>
              <option value="cosenza" >Cosenza</option>
              <option value="verona" >Verona</option>
              <option value="napoli" >Napoli</option-->
            </select>
          </div>
          <div class="box_ricerca">
            <button (click)="query()">Vai</button>
          </div>
        </div>
        <div class="pannello_treni">
          <div class="header_treni">
            <div class="numerotreno cella"> Corsa # </div>
            <div class="partenza cella"> Partenza </div>
            <div class="arrivo cella"> Arrivo </div>
            <div class="diretto cella "> Diretto </div>
            <div class="postidisponibili cella"> Posti Disponibili </div>
            <td>Prenota</td>
          </div>

          <div *ngFor="let treno of listaTreni" class="risultato_treni" appSeleziona>
            <div class="numerotreno cella">{{treno.corsa}}</div>
            <div class="partenza cella">{{treno.partenza | date : 'shortDate'}}</div>
            <div class="arrivo cella">{{treno.arrivo | date : 'shortDate'}}</div>
            <div class="diretto cella">{{treno.diretto}}</div>
            <div class="postdisponibili cella">{{treno.postidisponibili}}</div>
            <td><button class="prenota" (click)="aggiungiPrenotazione(treno)">Vai</button></td>
          </div>
          <div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>

