<div class="pannelloModifica">
  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20pt; color: black">Storico delle prenotazioni:</p>
  <div style="text-align: left;">
    <button class="refresh" (click)="mostraLista()">MOSTRA LISTA</button>
    <button class="refresh" (click)="nascondiLista()">NASCONDI LISTA</button>
  </div>
  <table class="tabellaPrenotazioni" [hidden]="!mostraListaPrenotazioni">
      <tr>
          <td>ID Prenotazione</td>
          <td>ID Compratore</td>
          <td>Email Compratore</td>
          <td>ID Treno</td>
          <td>Corsa #</td>
          <td>Elimina</td>
      </tr>
      <tr *ngFor="let prenotazione of listaPrenotazioni; let i=index" appSeleziona>
          <td>{{prenotazione.id}}</td>
          <td>{{prenotazione.compratore}}</td>
          <td>{{prenotazione.email}}</td>
          <td>{{prenotazione.treno}}</td>
          <td>{{prenotazione.corsa}}</td>
          <td><button class="elimina" (click)="eliminaPrenotazione(prenotazione)">Vai</button></td>
      </tr>
  </table>
</div>

<div class="pannelloModifica">
  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 20pt; color: black">Cerca prenotazioni per utente:</div>
  <div class="box_ricerca">
    <select [(ngModel)]="emailUtenteSelezionato">
      <option value="" disabled selected>email</option>
      <option *ngFor ="let risultato of listaEmailUtenti;" value={{risultato}} >{{risultato}}</option>
    </select>
    <button (click)="selezionaEmailUtente()">Seleziona</button>
    <button (click)="cercaPrenotazioniPerEmailUtente()" [disabled]="!selezionataEmailUtente">Vai</button>
  </div>
  <br>
  <table class="tabellaPrenotazioni">
      <tr>
          <td>ID Prenotazione</td>
          <td>ID Compratore</td>
          <td>Email Compratore</td>
          <td>ID Treno</td>
          <td>Corsa #</td>
          <td>Elimina</td>
      </tr>
      <tr *ngFor="let prenotazione of listaPrenotazioniPerEmailUtente; let i=index" appSeleziona [hidden]="!mostraListaPrenotazioniPerEmailUtente">
          <td>{{prenotazione.id}}</td>
          <td>{{prenotazione.compratore}}</td>
          <td>{{prenotazione.email}}</td>
          <td>{{prenotazione.treno}}</td>
          <td>{{prenotazione.corsa}}</td>
          <td><button class="elimina" (click)="eliminaPrenotazione(prenotazione)">Vai</button></td>
      </tr>
  </table>
</div>


<div class="pannelloModifica">
  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 20pt; color: black">Cerca prenotazioni per corsa:</div>
  <div class="box_ricerca">
    <select [(ngModel)]="trenoSelezionato">
      <option value="" disabled selected>corsa</option>
      <option *ngFor ="let risultato of listaCorseTreni;" value={{risultato}} >{{risultato}}</option>
    </select>
    <button (click)="selezionaCorsaTreno()">Seleziona</button>
    <button (click)="cercaPrenotazioniCorsaTreno()" [disabled]="!selezionataCorsaTreno">Vai</button>
  </div>
  <br>
  <table class="tabellaPrenotazioni">
      <tr>
          <td>ID Prenotazione</td>
          <td>ID Compratore</td>
          <td>Email Compratore</td>
          <td>ID Treno</td>
          <td>Corsa #</td>
          <td>Elimina</td>
      </tr>
      <tr *ngFor="let prenotazione of listaPrenotazioniPerCorsaTreno; let i=index" appSeleziona [hidden]="!mostraListaPrenotazioniPerCorsaTreno">
          <td>{{prenotazione.id}}</td>
          <td>{{prenotazione.compratore}}</td>
          <td>{{prenotazione.email}}</td>
          <td>{{prenotazione.treno}}</td>
          <td>{{prenotazione.corsa}}</td>
          <td><button class="elimina" (click)="eliminaPrenotazione(prenotazione)">Vai</button></td>
      </tr>
  </table>
</div>
